p{

text-transform: lowercase;
text-indent: 500px;
word-spacing: 23px;
letter-spacing: 23px;
line-height: 20px;
white-space: normal ;

}
h1{
    text-shadow: 5px 3px 3px royalblue;
    box-shadow: 5px 2px 8px blue;
    border: 1px solid gold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-size: initial;
    
}
h2{
    text-shadow: 2px 3px 3px red,
    3px 2px 1px blue,
    2px 1px 3px green;
    box-shadow: 1px 2px 3px brown;
    
}